body {
  color: #313033;
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #313033;
}

ul {
  list-style-type: none;
}

.wrap {
  width: 60%;
  margin: 0 auto;
}

.main-content::after {
  clear: both;
  content: '';
  display: block;
}
